.table-header-section{
  height: 80px;
  background-color: #F4F4F4;
  border-bottom: 1px solid #EDEDEF;
  p{
    margin: 28px 15px;
  }
  .action-icons{
    height: 80px;
    .action-item{
      height: 80px;
      width: 80px;
      border-right: 1px solid #EDEDEF;
      i{
        margin: 30px 33px;
      }
      &:last-child{
        border-right: none;
      }
    }
  }
}
table{
  .activity-background{
    background-color: #D4EDDA;
    height: 100%;
    text-align: center;
    border-radius: 25px;
  }
}